@import '../js/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_grid_layout.scss',
'./elements/forms/_form-date-of-birth.scss',
'../js/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_typography.scss';


.grid-row {
	@extend %grid-row;
}

.column-half {
	@include grid-column( 1/2 );
}

@media (min-width:641px){
    .content__body {
        width: 66.66667%;
    }

    .highlight-message--content-body {
        width: 95%;
    }

    .service-info .service-info__help {
        width: 66.66%;
        text-align: right;
    }

    .service-info .service-info__help p {
        margin: 0;
        padding-top: 8px;
    }

    .sidebar-side-bar  {
      margin-top: 95px;
      margin-left: 40px;
    }

    table td {
    	@include core-19;
    }

    table th {
        @include core-19;
        font-weight: 700;
    }

    .nino p {
        white-space: nowrap;
        width: inherit;
    }

    .other-desc .form-control {
        width: inherit;
    }

    .error fieldset, .error .error-notification {
        @include core-19;
    }

    .form-field--error .error-notification {
        @include core-19;
    }

    .error-notification{
        @include core-19;
    }

    aside {
        width: 33.33333%;
        float: right;
    }
}
 
@media (max-width:640px){
    .pbik-banner-links {
        margin-bottom: 45px;
    }

    fieldset legend {
        float: none;
    }

    .nino p {
        white-space: normal;
        width: 100px;
    }

    .nino-remove input {
        width: 55px;
        white-space: normal;
    }

    .service-info .service-info__help {
        width: 100%;
        text-align: left;
    }

    .sidebar-side-bar {
        margin-top: 0;
        margin-left: 0;
    }

    table td, table th{
    	@include core-16;
    }

    .other-desc .form-control {
        width: 350px;
    }

    aside {
        width: auto;

    }

}

.line {
  border-bottom: 1px solid #bfc1c3;
 }

.button--get-started{
	margin-bottom: 30px;
	margin-top: 30px;
}
article .list-bullet dl, article .list-bullet dd, article .list-bullet dt {
	margin-top: 0;
	margin-bottom: 0
}

/* select all button */
form label[for="checkbox-select-all"] {
 background: white;
	border: 0;
	padding-top: 17px;
	padding-bottom: 0;
}
.button {
	padding: .5em .5em .15em;	
	margin-bottom: 15px;
}
fieldset .button {
	margin-bottom: 0;
}
.list-bullet{
	margin-bottom: 30px;
}

.line {
	margin: 40px 0;
}


.employee-table tbody tr:hover,
.benefits-table tbody tr:hover {
	background-color: #dee0e2;
	cursor: default;
}

p button.button--link-style{
	font-size: 24px;
}

label span{
	display: block;
}

input#nino {
	text-transform: uppercase;
}

.date-of-birth .form-group {
	margin-bottom: 0;
}

.form-field--error {
	background-color: white;
	border-left: 5px solid #df3034;
}

.error {
	background-color: white;
	border-left: 5px solid #df3034;
}

.error fieldset, .error .error-notification {
    margin-left: 15px;
    font-weight: bold;
}

.form-field--error .error-notification {
    font-weight: bold;
}

.error-notification{

}

fieldset .h4-heading{
	margin-top: 0;
	font-weight: 700;
}

.service-info {
  .service-info__help {
    float: left;
    color: #0B0C0C;
  }
}

.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.66667;
  color: #FFF;
  background-color: #00823b;
  padding: 14px 41px 10px 16px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.step-indicator {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-bottom: 10px;
    color: #6f777b;
}

.important {
    padding-top:15px;
    padding-bottom:15px
}

.important img {
    vertical-align: middle;
    float:left;
    margin-right:10px;
}

.important span {

}

.important-notice {
    min-height: 2em;
}

.touchevents .date-of-birth {
    display: block;
}

.less-space {
    padding: 0;
}

.less-space label {
    padding: 0.73684em 1.05263em 0.52632em 0;
}

.benefits-table input[type=checkbox] {
    margin-right: 10px;
}

.benefits-table .no-checkbox {
    margin-left: 40px;
}


.yta-link {
    width: 40%;
    float: left;
}

.checkbox-indent {
    float: left;
    min-height: 30px;
    min-width: 30px;
    margin-left: 10px;
}

.other-desc-indent {
    margin-left: 40px;
}

.radio-indent {
    margin-left: 10px;
}

#link-feedback,
#link-feedback-desc {
    @include core-16;
    margin-top: 20px;
}

.link-feedback-p {
    margin-top: 2.4em !important;

}

.toggle-lang {
  float: right;
}

.report-error .report-error {
    margin: 0 0 0 0;
    width: 100%;
}

#exclusion-overview .important-notice {
    margin-bottom: 30px;
}

#search-results .form-group {
    margin-bottom: 0;
}

#search-results .important-notice {
    margin-bottom: 30px;
}

#multi-exclusion-back {
    margin-top: 2.4em !important;
}


.error-summary-pbik {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary-pbik {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px 15px;
    width: 100%;
  }
}

.error-summary-pbik:focus {
  outline: 3px solid #ffbf47;
}

.error-summary-pbik .error-summary-pbik-heading {
  margin-top: 0;
}

.error-summary-pbik p {
  margin-bottom: 10px;
}

.error-summary-pbik .error-summary-pbik-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  .error-summary-pbik .error-summary-pbik-list li {
    margin-bottom: 5px;
  }
}

.error-summary-pbik .error-summary-pbik-list a {
  color: #b10e1e;
  font-weight: bold;
  text-decoration: underline;
}

.fieldset-legend-error {
    float: left;
    margin-bottom: .5em;
    width: 100%;
}

.error fieldset fieldset{
    margin-left:0;
}

.error .employee-table {
    margin-left:15px;
}

.hidden-screen-reader {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.pbik-banner-links {
    width: 100%;
    margin-top: 10px;
}

.govuk-box-highlight{
    margin: 1em 0 1em 0;
    padding: 2em 0 1em 0;
    color: #fff;
    background: #28a197;
    text-align: center;
}

#confirmation #title {
    color: #fff;
}

#confirmation-p {
    margin: 0.75em 2em 0.75em 2em;
}

.sidebar-heading{

border-bottom: 5px solid #005ea5;
}

.sidebar-link {
    border-bottom: 1px solid #BFC1C3;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 0;
}

.pbik-help-section-content {
    margin-bottom: 30px;
}

.panel-indent {
    margin-bottom: 25px;
}

.panel-border-wide {
  border-left-width: 10px;
  border-left-color: #bfc1c3;
  padding: 15px;
  margin: 0;
  margin-bottom: 30px;
}

.nino-span {
  font-size: 16px;
  font-weight: 300;
}

.no-wrap {
    white-space: nowrap;
}

#link-change {
    float: right;
}

.error-summary-pbik-list li {
    margin-left: 0;
}

#link-back-top {
    border-bottom: solid 1px black;
    max-width: 52px;
    margin-bottom: 0;
    color: black;
    @include core-16;
    display: inline;
    text-decoration: none;
}

.arrow-back {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid black;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
}

.h1-heading-margin {
    margin-top: 10px;
}

caption {
    text-align: left;
    padding-bottom: 0.52632em;
    border-bottom: 1px solid #bfc1c3;
}

.caption-margin-top {
    margin-top: 0.52632em;
}

