@(bikForm:Form[RegistrationList], additive: Boolean, taxYearRange:TaxYearRange)(implicit request:Request[_],ac: uk.gov.hmrc.play.frontend.auth.AuthContext, lang: Lang)

@import uk.gov.hmrc.play.views.html.helpers
@import utils.URIInformation._
@import play.api.Play
@import play.api.Play.current

@benefitLabel = @{Messages("BenefitInKind.label." + iabdValueURLDeMapper(bikForm("actives[0].uid").value.get )).toLowerCase}
@singleBik = @{if(bikForm("actives").indexes.size > 1 ) {false}else{true}}
@gaEventBiks = @{helper.repeat(bikForm("actives"), min=0) { activeField => Html(Messages("BenefitInKind.label." + activeField("uid").value.get) + " ,")} }
@gaEventRemoveBiks = @{if(!additive){helper.repeat(bikForm("actives"), min=0) { activeField => Html(Messages("BenefitInKind.label." + iabdValueURLDeMapper(activeField("uid").value.get)) + " ,")} } }

@title = @{if(additive && singleBik) {Messages("AddBenefits.Confirm.Single.Title")}else if(additive && !singleBik){Messages("AddBenefits.Confirm.Multiple.Title")}else {Messages("RemoveBenefits.Confirm.Title")}}

@parentTemplate(pageTitle = title, Some(taxYearRange), Some(ac.principal.accounts.epaye.get.empRef.toString)) {

        @if(additive) {
            <a class="button-link" id="link-back-top" onclick="gaEventLinkSteps()"
                href='@controllers.registration.routes.ManageRegistrationController.nextTaxYearAddOnPageLoad'>
                @Messages("Service.back")</a>
            <h1 id="title">
                <span class="font-medium step-indicator">
                    @Messages("Service.stepindicator", "2", "3")
                </span>
                @if(!singleBik) {
                    @Messages("AddBenefits.Confirm.Multiple.Title")
                }else{
                    @Messages("AddBenefits.Confirm.Single.Title")
                }
            </h1>
        } else {
            <!--<a class="button-link" id="link-back-top"  href='@routes.HomePageController.onPageLoad'>
                @Messages("Service.back")</a>-->
            <h1 id="title">
                <span class="font-medium step-indicator">
                    @Messages("Service.stepindicator", "1", "2")
                </span>
                @Messages("RemoveBenefits.Confirm.Title")
            </h1>
        }


        @if(additive) {
            <p class="lede text"> @Messages("AddBenefits.Confirm.Desc", ""+taxYearRange.cy, ""+taxYearRange.cyplus1)</p>
        } else {
            <p class="lede text"> @Messages("RemoveBenefits.Confirm.Desc", benefitLabel, ""+taxYearRange.cy, ""+taxYearRange.cyplus1)</p>
        }

        <div class="data">
            @if(additive) {
                @helpers.form(action = controllers.registration.routes.ManageRegistrationController.addNextYearRegisteredBenefitTypes(),
                'onsubmit -> "gaEventConfirmAddBenefits()") {
                    <ul  id="list-of-confirmation-benefits" class="list-bullet text">
                        @helper.repeat(bikForm("actives"), min=0) { activeField =>
                            @helper.inputText(activeField("uid"), '_label -> null, 'style -> "display: none" )
                            @helper.inputText(activeField("pbik_seq"), '_label -> null, 'style -> "display: none" )
                            @helper.inputText(activeField("active"), '_label -> null, 'style -> "display: none" )
                            <li id='confirmation-row-confirmation-@activeField("uid").value.get'>
                                @Messages("BenefitInKind.label." + activeField("uid").value.get)</li>
                        }
                    </ul>

                    <p class="important-notice">
                        @Messages("AddBenefits.Confirm.help.desc")
                    </p>

                    <details id="important-excluded-employee-desc">
                        <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="false"
                            onclick='gaEvent("Click reveal", "@Messages("AddBenefits.Confirm.help.reveal.link")")'>
                            <span class="summary">@Messages("AddBenefits.Confirm.help.reveal.link")</span>
                        </summary>
                        <div class="panel-indent-2 panel-indent">
                            <p>
                                @Messages("AddBenefits.Confirm.help.reveal.p1")
                            </p>
                        </div>
                    </details>

                    <input type="submit" class="button" id="button-confirm" value="@Messages("Service.confirm")">
                }
                <p><a class="button-link" id="link-back" onclick="gaEventLinkOverview()"
                      href='@routes.HomePageController.onPageLoad'>@Messages("Service.back.cancel")</a></p>
            } else {

                @helpers.form(action = controllers.registration.routes.ManageRegistrationController.removeNextYearRegisteredBenefitTypes(),
                'onsubmit -> "gaEventConfirmRemoveBenefits()") {
                    <ul  id="list-of-confirmation-benefits" class="list-bullet text" style="display:none">
                        @helper.repeat(bikForm("actives"), min=0) { activeField =>
                            @helper.inputText(activeField("uid").copy(value=Some(iabdValueURLDeMapper(activeField("uid").value.get))), '_label -> null, 'style -> "display: none")
                            @helper.inputText(activeField("pbik_seq"), '_label -> null, 'style -> "display: none" )
                            @helper.inputText(activeField("active"), '_label -> null, 'style -> "display: none" )
                            <li id='confirmation-row-confirmation-@iabdValueURLDeMapper(activeField("uid").value.get)'>
                                @Messages("BenefitInKind.label." + iabdValueURLDeMapper(activeField("uid").value.get) )</li>
                        }
                    </ul>
                    <input type="submit" class="button" id="button-confirm" value="@Messages("Service.confirm")">
                }
                <p><a class="button-link" id="link-back" onclick="gaEventLinkOverview()"
                      href='@routes.HomePageController.onPageLoad'>@Messages("Service.back.cancel")</a></p>
        }

        </div>

        <script>
        function gaEventConfirmAddBenefits() {
          gaEvent("Benefit(s) Added for Next Year", "@gaEventBiks");
        }
        function gaEventConfirmRemoveBenefits() {
          gaEvent("Benefit Removed for Next Year", "@gaEventRemoveBiks");
        }
        </script>
}
