@(taxYearRange:TaxYearRange)(implicit request:Request[_])

@parentTemplate(pageTitle = Messages("HomePage.title"), Some(taxYearRange), None) {


        <h1 id="title">Oops!</h1>

        <p class="lead">
            @Messages("NoMoreToAdd.Desc",""+taxYearRange.cy, ""+taxYearRange.cyplus1)
        </p>
        <details>
            <summary id="contact" class="button-link" aria-expanded="false">
                Contact us
            </summary>
            <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display: block;">
                <p>
                <h4 class="heading-19">Department name</h4>
                Telephone: xxxx xxx xxxx <br>
                Textphone: xxxx xxx xxxx <br>
                Monday to Friday, 8am to 8pm <br>
                Saturday and Sunday, 9am to 4pm <br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a> <br><br>
                Email: <a href="email">xxxxxxxx@@xxxx.com</a> <br><br>
                Address line 1 <br>
                Address line 2 <br>
                Address Line 3 <br>
                Town/City <br>
                Postcode
                </p>
            </div>
        </details>
        <a class="button-link" id="link-back" onclick="history.back(-1); return false; " href="">Back</a>



}