@(isCurrentYear: Boolean, taxYearRange:TaxYearRange, additive: Boolean, bikForm:Form[RegistrationList])(implicit request:Request[_], ac: uk.gov.hmrc.play.frontend.auth.AuthContext)

@import uk.gov.hmrc.play.views.html.helpers
@import utils.URIInformation._

@benefitLabel = @{Messages("BenefitInKind.label." + bikForm("actives[0].uid").value.get ).toLowerCase}
@cyminus1 = @{""+taxYearRange.cyminus1}
@cy = @{""+taxYearRange.cy}
@cyplus1 = @{""+taxYearRange.cyplus1}

@parentTemplate(pageTitle = if(additive) {Messages("whatNext.add.heading")}else{Messages("whatNext.remove.heading")},
                None, Some(ac.principal.accounts.epaye.get.empRef.toString)) {

    <h1 id="title">
        <span class="font-medium step-indicator">
            @if(additive) {
                @Messages("Service.stepindicator", "3", "3")
            }else {
                @Messages("Service.stepindicator", "2", "2")
            }
        </span>
        @if(additive) {
            @Messages("whatNext.add.heading")
        }else{
            @Messages("whatNext.remove.heading")
        }
    </h1>

    <section id="what-next-update-benefit">
    @if(additive) {
        <p class="text lede">
            @Messages("whatNext.cy1.add.lede", cy)
        </p>

        <div class="data">
            <ul  id="list-of-confirmation-benefits" class="list-bullet">
                @helpers.form(action = controllers.registration.routes.ManageRegistrationController.updateRegisteredBenefitTypes()) {
                    @helper.repeat(bikForm("actives"), min=0) { activeField =>
                        @helper.inputText(activeField("uid"), '_label -> "", 'style -> "display: none" )
                        @helper.inputText(activeField("pbik_seq"), '_label -> "", 'style -> "display: none" )
                        @helper.inputText(activeField("active"), '_label -> "", 'style -> "display: none" )
                        <li id='li-@activeField("uid").value.get'> @Messages("BenefitInKind.label." + activeField("uid").value.get )</li>
                    }
                }
            </ul>
        </div>

        <h2>
            @Messages("whatNext.subHeading")
        </h2>

        @if(isCurrentYear) {
            <!-- CY content will go here when enabled-->
        }else {
            <p class="text">
                @Messages("whatNext.cy1.add.p1", cy)
            </p>

            <p class="text">
                @Messages("whatNext.cy1.add.p2")
            </p>

            <p class="text">
                @Messages("whatNext.cy1.add.p3", cy, cyplus1)
            </p>

            <p class="text">
                @Messages("whatNext.cy1.add.p4")
            </p>
        }

    } else {
        <p class="text lede">
            @Html(Messages("whatNext.remove.lede", benefitLabel, cy, cyplus1, bikForm("actives[0].uid").value.get))
        </p>

        <h2>
            @Messages("whatNext.subHeading")
        </h2>

        <p class="text">
            @Messages("whatNext.remove.p1")
        </p>
    }

    <p class="text">
        <a href="@routes.HomePageController.onPageLoad" id="link-back">
            @Messages("Service.back.overview.whatNext")
        </a>
    </p>

    <p class="text">
        <a href="@routes.HomePageController.signoutRedirectToDone" id="link-feedback">
            @Messages("Service.feedback.link")
        </a>
        @Messages("Service.feedback.desc")
    </p>
    </section>
}
