@(isCurrentYear: Boolean, taxYearRange:TaxYearRange, additive: Boolean, bikForm:Form[RegistrationList])(implicit request:Request[_], ac: uk.gov.hmrc.play.frontend.auth.AuthContext , lang: Lang)

@import uk.gov.hmrc.play.views.html.helpers
@import utils.URIInformation._

@benefitLabel = @{Messages("BenefitInKind.label." + bikForm("actives[0].uid").value.get ).toLowerCase}
@singleBik = @{if(bikForm("actives").indexes.size > 1 ) {false}else{true}}
@cyminus1 = @{""+taxYearRange.cyminus1}
@cy = @{""+taxYearRange.cy}
@cyplus1 = @{""+taxYearRange.cyplus1}
@metaTitleAdditive = @{if(singleBik){Messages("whatNext.add.heading.singular")}else {Messages("whatNext.add.heading")}}

@parentTemplate(pageTitle = if(additive) {metaTitleAdditive}else{Messages("whatNext.remove.heading")},
                None, Some(ac.principal.accounts.epaye.get.empRef.toString)) {

    <section id="print-section">
        <div id="printContainer"/>
    </section>

    <section id="what-next-update-benefit">
        <div id="confirmation" class="govuk-box-highlight">
            <h1 id="title" class="bold-large">
                @if(additive) {
                    @if(singleBik){
                        @Messages("whatNext.add.heading.singular")
                    }else {
                        @Messages("whatNext.add.heading")
                    }
                } else {@Messages("whatNext.remove.heading")}
            </h1>
            <p id="confirmation-p">
                @if(!isCurrentYear) {
                    @if(additive) {
                        @if(singleBik){
                            @Messages("whatNext.cy1.add.lede.singular", benefitLabel, cy)
                        }else {
                            @Messages("whatNext.cy1.add.lede", cy)
                        }
                    }else {
                        @Html(Messages("whatNext.remove.lede", benefitLabel, cy, cyplus1, bikForm("actives[0].uid").value.get))}
                }else {
                    @if(singleBik){
                        @Messages("whatNext.cy1.add.lede.singular", benefitLabel, cyminus1)
                    }else {
                        @Messages("whatNext.cy1.add.lede", cyminus1)
                    }
                }
            </p>
        </div>

        @if(additive) {
            @if(!singleBik){
                <div class="data">
                    <table id="list-of-confirmation-benefits" role="benefits list">
                        <thead>
                            <tr role="row">
                                <th role="columnheader">@Messages("whatNext.cy1.add.table.header")</th>
                            </tr>
                        </thead>

                        <tbody>
                            @helpers.form(action = controllers.registration.routes.ManageRegistrationController.updateRegisteredBenefitTypes()) {
                                @helper.repeat(bikForm("actives"), min=0) { activeField =>
                                    <tr role="row">
                                    @helper.inputText(activeField("uid"), '_label -> "", 'style -> "display: none" )
                                    @helper.inputText(activeField("pbik_seq"), '_label -> "", 'style -> "display: none" )
                                    @helper.inputText(activeField("active"), '_label -> "", 'style -> "display: none" )
                                    <td role="gridcell" id='li-@activeField("uid").value.get'> @Messages("BenefitInKind.label." + activeField("uid").value.get )</td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>

                </div>
            }

            <h2>
                @Messages("whatNext.subHeading")
            </h2>

            @if(isCurrentYear) {
                <!-- CY content will go here when enabled-->
                <ul class="list-bullet" id="next-steps">
                    <li>@Html(Messages("whatNext.add.p1", cyminus1))</li>
                    <li>@Html(Messages("whatNext.add.p2"))</li>
                    <li>@Html(Messages("whatNext.add.p3", cyminus1, cy))</li>
                    <li>@Html(Messages("whatNext.add.p4"))</li>
                </ul>
            }else {
                <ul class="list-bullet" id="next-steps">
                    <li>@Html(Messages("whatNext.add.p1", cy))</li>
                    <li>@Html(Messages("whatNext.add.p2"))</li>
                    <li>@Html(Messages("whatNext.add.p3", cy, cyplus1))</li>
                    <li>@Html(Messages("whatNext.add.p4"))</li>
                </ul>
            }

        } else {

            <h2>
                @Messages("whatNext.subHeading")
            </h2>

            <p class="text">
                @Html(Messages("whatNext.remove.p1"))
            </p>
        }

        <p class="text">
            <a onclick="gaEventLinkOverview()" href="@routes.HomePageController.onPageLoad" id="link-back">
                @Messages("Service.back.overview.whatNext")
            </a>
        </p>

        <p class="text link-feedback-p">
            <a  onclick="gaEvent('Click feedback link','From: Add/ Remove What next page')"
                href="@routes.HomePageController.redirectToDone" id="link-feedback" target="_blank">
                @Messages("Service.feedback.link")
            </a>
            <span id="link-feedback-desc">@Messages("Service.feedback.desc")</span>
        </p>
    </section>
}
