@(formItem:Form[_],label: Html, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang, messages: Messages)

@import play.api.i18n._
@import play.api.data
@import uk.gov.hmrc.play.views.html.helpers

<div class="form-group form-group-day">
@dayElem = @{"dob.day"}
@helpers.input(
Field(formItem,formItem(dayElem).name, formItem(dayElem).constraints, formItem(dayElem).format, Seq(), formItem(dayElem).value),
'_label -> Messages("Service.field.dob.day"),
'_inputClass -> "form-control",
'_type -> "text",
'_dataAttributes -> "pattern=[0-9]* ",
'_emptyValueText -> " "
)
 </div>

<div class="form-group form-group-month">
@monthElem = @{"dob.month"}
@helpers.input(
Field(formItem, formItem(monthElem).name, formItem(monthElem).constraints, formItem(monthElem).format, Seq(), formItem(monthElem).value),
'_label -> Messages("Service.field.dob.month"),
'_inputClass -> "form-control",
'_type -> "text",
'_dataAttributes -> "pattern=[0-9]* ",
'_emptyValueText -> " "
)
</div>

<div class="form-group form-group-year">
@yearElem = @{"dob.year"}
@helpers.input(
Field(formItem, formItem(yearElem).name, formItem(yearElem).constraints, formItem(yearElem).format, Seq(), formItem(yearElem).value),
'_label -> Messages("Service.field.dob.year"),
'_inputClass -> "form-control",
'_type -> "text",
'_dataAttributes -> "pattern=[0-9]* ",
'_emptyValueText -> " "
)
</div>
