@(taxYearRange:TaxYearRange,
  year:String, iabdType:String,
  name:String)(implicit request:Request[_],
               ac: uk.gov.hmrc.play.frontend.auth.AuthContext,
               context: config.PbikContext, applicationMessages: Messages)

@import uk.gov.hmrc.play.views.html.helpers
@import utils.URIInformation._

@parentTemplate(pageTitle = Messages("whatNext.exclude.heading"), None,  Some(ac.principal.accounts.epaye.get.empRef.toString)) {

    <section id="print-section">
        <div id="printContainer"/>
    </section>

    <section id="what-next-rescind">

        <div id="confirmation" class="govuk-box-highlight">
            <h1 id="title" class="bold-large">
                @Messages("whatNext.rescind.heading")
            </h1>
            <p id="confirmation-p">
                @Messages("ExclusionRemoval.WhatNext.lede", name, Messages("BenefitInKind.label." + iabdValueURLDeMapper(iabdType)), taxYearRange.cy+"")
            </p>
        </div>

        <h2 class="heading-24">
            @Messages("whatNext.subHeading")
        </h2>
        <ul class="list-bullet">
            <li>
                @Html(Messages("ExclusionRescind.WhatNext.p1"))
            </li>

            <li>
                @Html(Messages("ExclusionRescind.WhatNext.p2"))
            </li>

            <li>
                @Html(Messages("ExclusionRescind.WhatNext.p3", taxYearRange.cy+"", taxYearRange.cyplus1+""))
            </li>

            <li>
                @Html(Messages("ExclusionRescind.WhatNext.p4"))
            </li>
        </ul>

        <p class="text">
            <a  onclick="gaEvent('Click back to exclusion overview','From: Employee removed What next page')"
                href="@routes.ExclusionListController.performPageLoad(year,iabdType)" id="link-back-excluded">
                @Messages("Service.finish.rescinded")
            </a>
        </p>
        <p class="text">
            <a onclick="gaEventLinkOverview()" href="@routes.HomePageController.onPageLoad" id="link-back">@Messages("Service.back.overview.whatNext")</a>
        </p>
    </section>
}
