@(taxYearRange:TaxYearRange,
  year:String, iabdType:String,
  name:String)(implicit request:Request[_],
               ac: uk.gov.hmrc.play.frontend.auth.AuthContext,
               lang: Lang, context: config.PbikContext, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers
@import utils.URIInformation._

@parentTemplate(pageTitle = Messages("whatNext.exclude.heading"), None,  Some(ac.principal.accounts.epaye.get.empRef.toString)) {

    <section id="print-section">
        <div id="printContainer"/>
    </section>

    <section id="what-next-exclusion">

        <div id="confirmation" class="govuk-box-highlight">
            <h1 id="title" class="bold-large">
                @Messages("whatNext.exclude.heading")
            </h1>
            <p id="confirmation-p">
                @if(year=="cy"){
                    @Messages("whatNext.exclude.lede", name, Messages("BenefitInKind.label." + iabdType), taxYearRange.cyminus1 + "")
                }else {
                    @Messages("whatNext.exclude.lede", name, Messages("BenefitInKind.label." + iabdType), taxYearRange.cy + "")
                }
            </p>
        </div>

        <h2>
            @Messages("whatNext.subHeading")
        </h2>

        <p class="text">
            @Html(Messages("whatNext.exclude.p1"))
        </p>
        <br>

        <p class="text">
            <a  onclick="gaEvent('Click back to exclusion overview','From: Employee excluded What next page')"
                href="@routes.ExclusionListController.performPageLoad(year,iabdValueURLMapper(iabdType))" id="link-back-excluded">
                @Messages("Service.finish.excluded")
            </a>
        </p>
        <p class="text">
            <a onclick="gaEventLinkOverview()" href="@routes.HomePageController.onPageLoad" id="link-back">@Messages("Service.back.overview.whatNext")</a>
        </p>

        <p id="feedback" class="text link-feedback-p">
            <a  onclick="gaEvent('Click feedback link','From: Employee excluded What next page')"
                href="@routes.HomePageController.redirectToDone" id="link-feedback" target="_blank">
                @Messages("Service.feedback.link")
            </a>
            <span id="link-feedback-desc">@Messages("Service.feedback.desc")</span>
        </p>
    </section>

}
