.logged-out-page .survey-heading {
  font-size: 30px;
  font-weight: bold;
  margin: 60px 0;
}
.logged-out-page .satisfaction-survey-form fieldset {
  margin-top: 40px;
  margin-bottom: 20px;
}
.logged-out-page .satisfaction-survey-form fieldset.panel-indent-inner {
  width: 96%;
}
.logged-out-page .satisfaction-survey-form fieldset legend {
  margin-bottom: 24px;
  float: left;
  font-size: 19px;
  font-weight: bold;
}
.logged-out-page .satisfaction-survey-form .block-label.horizontal-radio-button {
  clear: left;
  display: block;
  margin: 5px 0;
  min-height: inherit;
  padding: 15px 25px 15px 45px;
  text-align: left;
  width: auto;
}
.logged-out-page .satisfaction-survey-form .block-label.horizontal-radio-button input {
  left: 15px;
  position: absolute;
  top: 26px;
}
.logged-out-page .satisfaction-survey-form .multiple-checkboxes .form-field-single {
  background: #dee0e2;
  float: left;
  margin: 5px 0;
  padding: 18px 0 15px 0;
  position: relative;
  width: 100%;
}
.logged-out-page .satisfaction-survey-form .multiple-checkboxes .form-field-single input {
  position: absolute;
  top: 18px;
  left: 15px;
  cursor: pointer;
}
.logged-out-page .satisfaction-survey-form .multiple-checkboxes .form-field-single label {
  padding: 0 30px 0 45px;
}
.logged-out-page .satisfaction-survey-form textarea {
  background-color: #fff;
  border: 1px solid #bfc1c3;
  padding: 0;
  width: 100%;
}
.logged-out-page .satisfaction-survey-form .panel-indent {
  margin-bottom: 40px;
}
.logged-out-page .satisfaction-survey-form .hide {
  display: none;
}
.logged-out-page .satisfaction-survey-form .char-counter [data-char-field] {
  height: auto;
}
@media (min-width: 641px) {
  .logged-out-page .satisfaction-survey-form .multiple-checkboxes .form-field-single {
    width: auto;
  }
}
@media (min-width: 910px) {
  .logged-out-page .satisfaction-survey-form .block-label.horizontal-radio-button {
    clear: none;
    display: inline-block;
    margin: 0 2% 0 0;
    min-height: 100px;
    padding: 45px 0 0;
    text-align: center;
    width: 18%;
  }
  .logged-out-page .satisfaction-survey-form .block-label.horizontal-radio-button:last-child {
    margin-right: 0;
  }
  .logged-out-page .satisfaction-survey-form .block-label.horizontal-radio-button input {
    position: absolute;
    top: 25px;
    left: 42%;
  }
}