@(partialUrl: String, formBody: Option[Html])(implicit request:Request[_],ac: uk.gov.hmrc.play.frontend.auth.AuthContext, lang: Lang)
@import connectors.FormPartialProvider

@parentTemplate(pageTitle = Messages("HelpAndContact.title"), None, Some(ac.principal.accounts.epaye.get.empRef.toString), contactSupportLinkEnabled = false){

    <h1 id="title">
        @Messages("HelpAndContact.title")
    </h1>

    <div class="pbik-help-section-content">
        <p class="text">
            @Html(Messages("HelpAndContact.p1"))
        </p>

        <p class="text">
            @Html(Messages("HelpAndContact.p2"))
        </p>

        <h2>
            @Messages("HelpAndContact.form.title")
        </h2>

        <p class="text">
            @Messages("HelpAndContact.form.p1")
        </p>

        <p class="text">
            @Messages("HelpAndContact.form.p2")
        </p>
    </div>

    @formBody.getOrElse(FormPartialProvider.getPartialContent(partialUrl))
}