@(partialUrl: String,
  formBody: Option[Html])(implicit request:Request[_],
                          ac: uk.gov.hmrc.play.frontend.auth.AuthContext,
                          context: config.PbikContext, applicationMessages: Messages)
@import connectors.FormPartialProvider

@parentTemplate(pageTitle = Messages("HelpAndContact.title"), None, Some(ac.principal.accounts.epaye.get.empRef.toString), contactSupportLinkEnabled = false){

    <span class="link-back-top-wrap">
        <a class="button-link" id="link-back-top"
           href='@routes.HomePageController.onPageLoad'>

            <div class="arrow-back"></div>
            @Messages("Service.back")
        </a>
    </span>

    <h1 id="title" class="h1-heading-margin">
        @Messages("HelpAndContact.title")
    </h1>

    <div class="pbik-help-section-content">
        <p class="text">
            @Html(Messages("HelpAndContact.p1"))
        </p>

        <p class="text">
            @Html(Messages("HelpAndContact.p2"))
        </p>

        <h2>
            @Messages("HelpAndContact.form.title")
        </h2>

        <p class="text">
            @Messages("HelpAndContact.form.p1")
        </p>

        <p class="text">
            @Messages("HelpAndContact.form.p2")
        </p>
    </div>

    @formBody.getOrElse(FormPartialProvider.getPartialContent(partialUrl))
}