$govuk-assets-path: "/play-mtp-frontend/assets/lib/govuk-frontend/govuk/assets/";

@import "lib/govuk-frontend/govuk/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.hide-dd {
  visibility: hidden;
}