@import '_ie7.scss';
@import '_urBanner.scss';

#link-back, #link-exclusion-back, #multi-exclusion-back {
    display: block;
    margin-top: 3em;
}

#what-next-exclusion #link-back, #what-next-rescind #link-back{
    margin: 0;
}

#button-confirm {
    margin-top: 1em;
}

.js-visible {
    a, p {
        margin: 0;
    }
}

button.link-back {
    background: none;
    box-shadow: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;

}

article .title{
    margin-top: 20px;
}

.govuk-box-highlight {
    background-color: #00703c;
}
