@()(implicit request:Request[_],ac: uk.gov.hmrc.play.frontend.auth.AuthContext, lang: Lang, context: config.PbikContext)

@import utils.FormMappingsConstants._

@active(ac: uk.gov.hmrc.play.frontend.auth.AuthContext) = @{
    if (ac.principal.accounts.epaye.isDefined)
        Some( ac.principal.accounts.epaye.get.empRef.toString )
    else
        Some("")
}

@parentTemplate(pageTitle = Messages("Service.notEnrolled.title"), None, active(ac) ) {
    <h1 id="title">@Messages("Service.notEnrolled.title")</h1>

    <p class="lede-para">@Messages("Service.notEnrolled.text1")</p>

    <p>@Messages("Service.notEnrolled.text2")</p>

    <ul class="list-bullet">
        <li>@Messages("Service.enrollmentLoop.list1")</li>
        <li>@Messages("Service.enrollmentLoop.list2")</li>
    </ul>

    <p>@Messages("Service.notEnrolled.text3")</p>

    <p>@Messages("Service.notEnrolled.text4")</p>

    <p>
        <a href='https://www.gov.uk/paye-online/enrol' class="button" role="button">@Messages("Service.notEnrolled.button")</a>
    </p>
}
