@(pageTitle: String, taxYearRange:Option[models.TaxYearRange] = None, empref:Option[String], showLanguage:Boolean = false, showYTAlink:Boolean = false, hNav: Option[views.helpers.HeaderNav] = Some(views.helpers.HeaderNav(title = Some(Messages("Service.title")), showBetaLink = true)))(mainContent: Html)(implicit request : Request[_], lang: Lang)
@import play.api.Play
@import play.api.Play.current
@import uk.gov.hmrc.play.http.SessionKeys
@import play.api.i18n.Lang

@logout = @{ new Call("GET", ExternalUrls.signOut) }

@genericLinks = {
    <a id="logOutNavHref" onclick="gaEvent('Click Sign-out link', 'Redirect to exit survey feedback')"
       href="@controllers.routes.HomePageController.signoutRedirectToDone">Sign out</a>
}

@myLinkElement = {
	<link rel='stylesheet' href='@routes.AssetsController.at("assets/css/pbik.css")'/>
}

@scriptElement = {
    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '@Play.configuration.getString(s"google-analytics.token")', 'auto');
        ga('send', 'pageview', '@pageTitle + @request.session.get(SessionKeys.sessionId)');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href='@routes.AssetsController.at("assets/css/ie7.css")'/><![endif]-->
    <script type="text/javascript" src='@routes.AssetsController.at("assets/javascript/pbik.js")'></script>
}

@serviceInfo = {
    <div class="service-info__help">
      <p> @Messages("Service.paye.label") @empref<br>
      </p>
    </div>

    <div style="clear:both"></div>

    <div class="pbik-banner-links">
        @if(showYTAlink) {
            <div class="yta-link">
                <span class="arrow-back"></span>
                <a href="/account" onclick="gaEvent('Click back to YTA link')">@Messages("Service.back.yta")</a>
            </div>
        }
        <div class="toggle-lang">
            @if(showLanguage) {
                @if(lang.language.toLowerCase == "cy") {
                    <a href="@routes.HomePageController.setLanguage?lang=en" onclick="gaEvent('Set language to English')">English</a><span> | Cymraeg</span>
                } else {
                    <span>English | </span><a href="@routes.HomePageController.setLanguage?lang=cy" onclick="gaEvent('Set language to Welsh')">Cymraeg</a>
                }
            }
        </div>
    </div>
}

@main(
    title = pageTitle,
    articleClasses = Some(""),
    headerNav = Some(views.helpers.HeaderNav(
    title = Some("Payrolling Benefits in Kind"),
    titleLink = None,
    links = Some(genericLinks),
    showBetaLink = false)),
    showFeedbackLinkInBetaBanner = true,
    supportLinkEnabled = false,
    linkElement = Some(myLinkElement),
    serviceInfoContent = Some(serviceInfo),
    headScripts = Some(scriptElement)
) {

    @mainContent

}


